/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
    background-color: #333;
    overflow: hidden;
    position: top;
    bottom: 0;
    width: 100%;
  }
  
  /* Style the links inside the navigation bar */
  .navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 22px;
    text-decoration: none;
    font-size: 22px;
  }
  
  /* Change the color of links on hover */
  .navbar a:hover {
    background-color: blue;
    color:whitesmoke;
  }
  
  /* Add a green background color to the active link */
  .navbar a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  /* Hide the link that should open and close the navbar on small screens */
  .navbar .icon {
    display: none;
  }
.img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
#content img {
    float: left;
  }
div {text-align: center;
    font-size: x-large;    
}
#bottom { 
  position:absolute;                  
  bottom:0;                          
  left:0;                          
}
